<div class="footer-sections">
    <p>Lule Northern Lights Cinema</p>
    <p>Biografgatan 97</p>
    <p>972 31 Luleå</p>
  </div>
  <div class="footer-sections">
    <p>Kontakta oss</p>
    <a href="#">
      <img
        class="social-media-links"
        src="/static/facebook.svg"
        alt="facebook icon"
    /></a>
    <a href="#">
      <img
        class="social-media-links"
        src="/static/instagram.svg"
        alt="instagram icon"
    /></a>
    <a href="#">
      <img
        class="social-media-links"
        src="/static/twitter.svg"
        alt="twitter icon"
    /></a>
    <a href="mailto:">
      <img class="social-media-links" src="/static/mail.svg" alt="mail icon"
    /></a>
    <p>Telefon: 010-7308579</p>
  </div>
  <div class="footer-sections">
    <p>Samarbete med</p>
    <img
      id="municipality-logo"
      src="/static/kommun-logo.svg"
      alt="municipality for our city"
    />
    <img
      id="cinema-collab"
      src="/static/europa-cinemas.png"
      alt="cinema collab"
    />
</div>