<main>
    <h1>Logga in</h1>
    <section class="register">
        <form>
            <div class="group">
              <input type="email"><span class="highlight"></span><span class="bar"></span>
              <label>Epost</label>
            </div>
            <div class="group">
                <input type="password"><span class="highlight"></span><span class="bar"></span>
                <label>Lösenord</label>
            </div>
            <a href="/"><button type="button" class="button buttonBlue">Logga in
              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button></a>
          </form>
          <p class="forgotPassword"><a href="resetPassword">Glömt lösenordet?</a></p>
    </section>
</main>

<script src="../static/jsfrontend/register.js" type="module"></script>