<main>
    <h1>Byt lösenord</h1>
    <section class="register">
        <p>Var vänlig ange ditt nya lösenord</p>
        <form>
            <div class="group">
                <input type="password" id="PassEntry"><span class="highlight"></span><span class="bar"></span>
                <label>Lösenord</label>
                <span id="StrengthDisp" class="badge displayBadge">Svagt</span>
            </div>
            <div class="group"> 
                <input type="password" id="confirmPwd"><span class="highlight"></span><span class="bar"></span>
                <label>Upprepa lösenord</label>
                <span id="pwdMatch">Lösenorden stämmer inte överens</span>
            </div>
            <a href="/"><button type="submit" formaction="/"class="button buttonBlue">Spara lösenordet
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button></a>
          </form>
    </section>
</main>

<script src="../static/jsfrontend/register.js" type="module"></script>