<main>
    <h1>Registrera dig</h1>
    <section class="register">
        <form>
            <div class="group">
                <input type="text"><span class="highligt"></span><span class="bar"></span>
                <label>Namn</label>
                
            </div>
            <div class="group">
                <input type="text"><span class="highligt"></span><span class="bar"></span>
                <label>Epost</label>
            </div>
            <button type="submit" class="button buttonBlue">Registrera mig</button> 
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
    </section>
</main>