<main>
    <h1>Glömt lösenordet</h1>
    <section class="register">
        <p class="forgotPassword">Ingen fara, fyll i din epostadress så skickar vi dig en återställningslänk</p>
        <form>
            <div class="group">
              <input type="email"><span class="highlight"></span><span class="bar"></span>
              <label>Epost</label>
            </div>
            <button type="button" class="button buttonBlue">Byt lösenord
              <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
          </form>
    </section>
</main>

<script src="../static/jsfrontend/register.js" type="module"></script>